*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.nav-logo{
    height: 50px;
    width: 100px;

}

.border {
    border: 1.5px soild transparent;
} 

.border:hover {
    border: 1.5px solid white;

}

.logo {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;

    
}

/* box2 */
.add-first {
    font-size: 0.85rem;
    margin-left: 15px;

}

.add-sec {
    font-size: 1rem;
    margin-left: 3px;
}

.add-icon{
    display: flex;
    align-items: center;
}

/* box3 */
.nav-search {
    display: flex ;
    background-color: pink;
    justify-content: space-evenly;
    width:  600px;
    height: 40px;
    border-radius: 4px;
}

.search-select {
    background-color: #f3f3f3;
    width: 70px;
    text-align: center;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem ;
    border: none;
}
.search-icon {
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    background-color: rgb(231, 108, 7);
    color: black;

}

.nav-search:hover {
    border:2px solid orange
}

/* box4 */
.nav-one{
    font-size: 0.7rem;
}

.nav-secound{
    font-size: 0.85;
    font-weight: 700
    ;
}

/* panel */

.panel{
    height: 40px;
    background-color:#222f3d ;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-ops p {
    margin-left: 15px;
    display: inline;
}
.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}

/* hero sec */

.hero-sec{
    background-image: url("hero_image.png");
    background-size: cover;
    height:350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

/* shop section */
.shop-section{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    border: 2px solid black;
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;

}

.box-img {
    height: 300px;
    background-size: cover ;
    margin-top: 1rem;
    margin-bottom: 1rem;
   

}
.box-content {
    margin-left: 10px;
    margin-right: 10px;

}

.box-content p {
    color: #007185;
}
/* footer */

footer{
   
    margin-top: 15px;
    
}

.foot-panel {
    color: white;
    background-color: #37475a;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-panel2{
    background-color: #222f3d;
    color: white;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 20px;
}
ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;

}

.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.foot-panel4 {
    background-color: #0f1111;
    color: white;
    height: 80px;

}

.pages{
    font-size: 0.7rem;
    text-align: center;
    padding-top: 10px;

}

.copyright{
    font-size: 0.7rem;
    text-align: center;
    padding-top: 10px;
}

.footer {
    background-color: #232f3e;
  }
  .backtotop {
    width: 100%;
    height: 2rem;
    text-align: center;
    background-color: rgb(56, 70, 84);
    padding: 1rem 0;
  }
  .backtotop a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
  }
  .support {
    padding: 2rem 14rem 5rem 14rem;
    display: flex;
    background-color: #232f3e;
    color: white;
    justify-content: space-between;
  }
  .support h3 {
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem 0;
  }
  .support p {
    font-size: 0.8rem;
    padding: 0.5rem 0;
    color: rgba(255, 255, 255, 0.546);
  }
  .footer img {
    padding: 5rem 50rem;
    width: 5rem;
  }
  
